body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.current-weather, .forecast {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.forecast {
    margin-top: 20px;
}

#forecastContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-card {
    width: 150px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
